
body{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 4px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Oswald", sans-serif;
    
}
.text{
   font-size:  140%;
   
}
.contenedor{
    box-sizing: border-box;
    background: linear-gradient(180deg, rgb(247, 248, 250) 0%, rgba(251,251,252,1) 25%, rgb(230, 228, 228) 100%);
    width: 98%;
    min-height: 300px;
    height: 100vh;
      /* Tamaño mínimo del contenedor principal */
     /* Añade scroll vertical cuando sea necesario */
    margin: 2px;
    display: grid;
    padding: 8px;
    grid: 100%/ 20% 50% 30% ;
    gap: 0; 
    border-radius: 16px;
}
.foto{
    width: 100%;
    height: 68%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
       
}
.foto img{
    width: 100%;
    height: auto;
    max-height: 344px;
    max-width: 260px;
    border-radius: 16px;
    box-shadow: 0 0 4px #021c2791;
   
}
.boton__informacion{
    display: none;
    
}
.informacion{
    box-sizing: border-box;
    width: 99%;
    height: 98%;
    
    margin: 4px;
    margin-left: 2px;
    padding-bottom: 8px;
    
    display: grid;
    grid: 30% 12% 8% 18% 14% 16%/ auto;

}
.datos{
       
    box-sizing: border-box; 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 4px;
    font-family: "Oswald", sans-serif;
   
    
}
.data__nombre{ 
    font-size: 80%;
    color: #1E2A57;
    
}
.data__nombre h2{
    padding: 0;
    margin: 0;
    border-bottom: 3px solid #2bd5db;
}
.data__texto{  
   color: #42C3AE;
  font-size: 74%;
  font-weight: bold;
}
.data__dias{ 
    color: #172246;
    font-size: 80%;
}
.data__horas{
    
    justify-content: flex-start;
    margin-top: -2px;
}
.data__horas h3{
    padding: 0;
    margin: 0;
    color: #172246;
    font-size: 88%;
    font-weight: 400;
}
.data__horas h3 sup{
    color: #Ff9805;
}
.data__correo{
    
    
    display: grid;
    grid: 100%/ 84% 12%;
    gap:1%
   
}
.data__iconoEnviar{
    
    color: #1E2A57;
    padding: 4%;
    width: 104%;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    border: 1px solid #1E2A57;
    filter: drop-shadow(1px 1px 1px rgba(3, 114, 105, 0.534));
    transition: 200ms;
}
.data__iconoEnviar:hover{
    
    
    color: #Ff9805;
    border: 1px solid #f08800;
    
    filter: drop-shadow(1px 1px 2px rgba(170, 92, 3, 0.534));
    
}
.data__iconoEnviar h5{
 font-size: 44%;
 padding: 0;
 margin-left:-4px;
 margin: 0;
 text-align: center;
 font-family: "Oswald", sans-serif;
}
.text-mail{
    font-size: 80%;
    box-sizing: border-box;
    margin: 8px;
    padding: 4px 28px 8px 28px;  
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: #FEFEFE;
    background: linear-gradient(to right, rgba(61,171,162,1) 0%, rgba(48,130,152,1) 23%, rgba(30,42,87,1) 100%);
    cursor: pointer;
    text-align: center;
    transition: background-image 0.3s ease;
    transition: all 0.3s;

}
.text-mail:hover{
    
    text-shadow: -1px -1px 1px rgba(3, 110, 92, 0.623);
    filter: drop-shadow(0 1px 1px rgba(0, 40, 53, 0.767));
    background: linear-gradient(to right, rgba(55, 201, 189, 0.774) 0%, rgba(48,130,152,1) 69%, rgba(30,42,87,1) 100%);
}
.data__telefono{
    
    font-size: 100%;
    padding-bottom: 18px;
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    
}
.text-phone{
    width: 140px;
    height: 40px;
    text-decoration: none;
    color: #052c33;
    text-align: center;
    margin-top: 24px;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.text-phone::before{
    box-sizing: border-box;
    position: absolute;
    margin-top: 30px;
    width: 1px;
    padding-left: 8px;
    content: "";
    background-color: #f08800;
    transition: all 0.3s ease;
    
    
}
.text-phone:hover::before{
    
    width: 74px;
    height: 2px;
    transition: all 0.6s ease;
    
}
.text-phone:hover{
 color: #03969b;
}
.data__telefono img{
font-size: larger;
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
    transition: all 400ms;
}

.modal-contenido {
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #fefefe;
    margin: 4% auto;
    padding: 20px;
    border: 1px solid #7c7979;
    width: 80%;
}
.modal-contenido p{
    font-family: "Oswald", sans-serif;
    color: #04384d;
    font-size: medium;
    background: linear-gradient(180deg, rgba(240,242,245,1) 0%, rgba(251,251,252,1) 25%, rgba(254,254,254,1) 100%);
}
.cerrar-modal {
    color: #04384d;
    float: right;
    width: auto;
    height: 100%;
    
}

.cerrar-modal:hover,
.cerrar-modal:focus {
    color: rgb(241, 167, 6);
    text-decoration: none;
    cursor: pointer;
}
.modal-contenido__instrucciones{
text-align: left;
color: #04384d;

    
}
.intemInstruccion{
    line-height: 0.8;
}
.intemInstruccion p{
 font-size: smaller;
 line-height: 0.5;
}
.contenedor__citas{
    box-sizing: border-box;
    position: relative;
    top: 8%;
    height: 90%;
    margin-left: 8px;
    border-radius: 20px;
    padding: 8%;
    display: grid;
    grid: 15% 20% 40% 25%/100%;
    font-family: "Oswald", sans-serif;
    box-shadow: -2px 0 2px rgba(1, 59, 51, 0.384); /* Sombras hacia la izquierda */
    background: linear-gradient(180deg, rgba(167,216,212,1) 0%, rgba(220,229,238,1) 27%, rgba(254,254,254,1) 91%);
    color: #fefefe;
}
.qxCTlb{
    width: 80px;
    height: 24px !important;
    margin: 0;
    padding: 0;
    cursor: pointer;
    position: absolute;
    background-color: transparent ;
    text-align: center;
    font-size: smaller;
    font-weight: 100px;
    font-family: "Oswald" !important;
    transition: 200ms;
}
.qxCTlb:hover{
    background-color:#03969b !important;
    box-shadow: 0 1px 2px #023329e0 !important;
}
.icon__Calendar{
   
    color: #04384d;
    
    text-align: center;
    font-size: 48px !important;
   
}
.cita__text{
    text-align: center;
    color: #04384d;
}
.boton_calendar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.list__button--click{
    display: none;
}
.instrucciones_citas{
    color: #052c33;
    border-top: 1px solid #03969b;
    border-bottom: 1px solid #03969b;
    
    text-align: center;
    width: 90%;
    height: 14px;
    padding: 2;
    font-size: 9px;
    position: relative;
    margin-top: -40px;
    margin-left: auto;
    margin-right: auto;
    transition: 600ms;
}
.instrucciones_citas h3{
    margin: 2px;
}
.instrucciones_citas:hover{
    border-top: 1px solid #20b7bd;
    border-bottom: 1px solid #20b7bd;
    color: #17927c;
    cursor: pointer;
    width: 98%;
    
}
@media screen and (max-width: 540px) {
    html{
        overflow: hidden;
        height: 600px;
    }
    body{
        width: 100vw;
        height: 600px;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: "Oswald", sans-serif;
        overflow: hidden;
        gap: 0;
        overflow: scroll;
        
    }
    .contenedor {
        
            box-sizing: border-box;
            background: linear-gradient(180deg, rgba(240,242,245,1) 0%, rgba(251,251,252,1) 25%, rgba(254,254,254,1) 100%);
            width: 98%;
            height: 100%;
            min-height: 124px;
            margin: 0;
            display: grid;
            padding: 4px;
            grid: 28% 6% 24% 28%/ 100%;
            gap: 0; 
            border-radius: 16px;
        
        
    }
    .boton__informacion{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0;
        height: 84%;
        width: 64%;
        margin: auto;
        margin-top: 4px;
        padding: auto;
        background-color: #04384d;
        color: #FEFEFE;
        font-family: "Oswald", sans-serif;
        border-radius: 8px ;
        border: none;
        cursor: pointer;
        
    }
    .boton__informacion:active{
        background-color: #03969b;
        
    }
    .boton__informacion h4{
       margin: auto;
      font-size: smaller;
    }
    .arrow{
        margin: auto;
        width: 12%;
        font-size: small;
        transition: 0.4s;
        /* */
    }
    .arrow__rotate{
        margin: auto;
        font-size: small;
        transform: rotate(90deg); 
    }
    .informacion{
        height: 0;
        width: 0;
        position: absolute;
        overflow: hidden;
        transition: height 0.6s ease;
        
    }
    .mostrar_informacion{
        box-sizing: border-box;
        width: 100%;
        height: 98%;
        margin: auto; 
        position: relative;    
        display: grid;
        grid: 16.6% 12%  12%  12%  16.6% 16.6% / auto;
        overflow: scroll;
       border: 1px solid #0877a3b6;
       border-radius: 8px;
       transition: height 0.6s ease;

       
    }
   
    .foto{
        
        margin: auto;
        width: 124px;
       height: auto;
       
    }
    .foto img{
        width: 100%;
        height: 100%;
             
    }
    .text-phone::before{
        box-sizing: border-box;
        position: absolute;
        width: 0;
        padding-left: 8px;
        content: "";
        background-color: #f08800;
        transition: all 0.3s ease;
        
        
    }
    
    
    .contenedor__citas{
        box-sizing: border-box;
        position: relative;
        width: 98%;
        height: 48%;
        border-radius: 8px;
        margin: auto;
        margin-top: -28px;
        padding: 4px;
        font-size: smaller;
        font-family: "Oswald", sans-serif;
        box-shadow: -2px 0 2px rgba(1, 59, 51, 0.384); /* Sombras hacia la izquierda */
        background: linear-gradient(180deg, rgba(167,216,212,1) 0%, rgba(220,229,238,1) 27%, rgba(254,254,254,1) 91%);
        color: #fefefe;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .qxCTlb{
        width: 74px;
        height: 20px !important;
        margin: 0;
        padding: 0;
        cursor: pointer;
        background-color: transparent ;
        text-align: center;
        font-family: "Oswald", sans-serif !important;
        transition: 200ms;
    }
    .cita__text{
        text-align: center;
        color: #04384d;
        height: 24px;
        font-size: small;
    }
    .icon__Calendar{
        display: none;
        color: transparent;
        height: 0;
       
    }
    .data__nombre{ 
        font-size: 62%;
        
    }
    .data__texto{  
        color: #42C3AE;
        
       font-size: 64%;
       font-weight: bold;
       padding: 0;
       margin: 0;
     }
    .data__dias{ 
        
        font-size: 80%;
    }
    .data__horas{
        font-size: 64%;
        justify-content: flex-start;
        margin-top: -2px;
        margin: auto;
    }
    
    .data__correo{
        margin: auto;
        font-size: 74%;
        display: grid;
        grid: 100%/ 84% 12%;
        gap:1%
       
    }
    .data__iconoEnviar{
        
        color: #1E2A57;
        padding: 2%;
        width: 100%;
        box-sizing: border-box;
        cursor: pointer;
        text-align: center;
        border: transparent;
        filter: drop-shadow(0 0 0 rgba(3, 114, 105, 0.534));
        transition: 200ms;
        margin: 2px;
    }
    .data__iconoEnviar:hover{
        filter: drop-shadow(0 0 0 rgba(3, 114, 105, 0.534));
        border: transparent;
    }
    .data__iconoEnviar h5{
     font-size: 38%;
     padding: 0;
     margin: 0;
     text-align: center;
     font-family: "Oswald", sans-serif;
    }
    .text-mail{
        font-size: 88%;
        box-sizing: border-box;
        height: 64%;
        margin: 2px;
        padding: 4px;  
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        color: #FEFEFE;
        background: linear-gradient(to right, rgba(61,171,162,1) 0%, rgba(48,130,152,1) 23%, rgba(30,42,87,1) 100%);
        cursor: pointer;
        text-align: center;
        transition: background-image 0.3s ease;
        transition: all 0.3s;
    
    }
    .text-mail:hover{
        
        text-shadow: 0 0 0 rgba(3, 110, 92, 0.623);
        filter: drop-shadow(0 1px 1px rgba(0, 40, 53, 0.007));
        background: linear-gradient(to right, rgba(55, 201, 189, 0.774) 0%, rgba(48,130,152,1) 69%, rgba(30,42,87,1) 100%);
    }
    .data__telefono{
        
        font-size: 80%;
        padding-bottom: 0;
        text-align: center;
        width: 80%;
        margin: auto;
        height: auto;
        
    }
   
    .text-phone{
        width: 80px;
        height: 100%;
        text-decoration: none;
        color: #052c33;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 12px;
        transition: all 0.3s ease;
        box-sizing: border-box;
    }
    .text-phone::before{
        display: none;
        margin-top: 30px;
        width: 1px;
        padding-left: 8px;
        content: "";
        background-color: #f08800;
        transition: all 0.3s ease;
        
        
    }
    .text-phone:hover::before{
        display: none;
        width: 0;  
        
    }
    .text-phone:hover{
     color: #03969b;
    }
    .data__telefono img{
    font-size: larger;
    }
    .instrucciones_citas{
        
        display: none;
       
    }
}
